@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>An application to improve the collection and review of associate feedback and development.</p>

<p>Training Day allows associates to share their experiences and feelings as they learn and grow.</p>

<p>Associates are provided a tool to share detailed thoughts, sense of accomplishments,and confidence to move forward.</p>

<p>Managers and mentors receive real-time email notifications when their associates provide feedback.</p>

<p>Managers and mentors can review their associate's feedback, and capture their own teachable moments.</p>

<p>Training Day creates an enviroment where associates can drive their development, and trainers can refine their process/execution.</p>
