@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>    
    <abbr title="Phone">P:</abbr>
    314.413.9746
</address>

<address>
    <strong>Support:</strong> <a href="mailto:johnmccorkell0@gmail.com">johnmccorkell0@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:johnmccorkell0@gmail.com">johnmccorkell0@gmail.com</a>
</address>
