@{
    ViewData["Title"] = "Home Page";
}


<p><h1>Welcome to Training Day</h1></p>

<p><h2>Drive your Growth!</h2></p>

<p>Training Day helps Learners:</p>
<ul>
    <li>Provide feedback to improve their learning process</li>
    <li>Track their sense of accomplishment in what they set out to do</li>
    <li>Track their sense of confidence to move to the next step</li>
</ul>


<p>Training Day helps Mentors and Managers:</p>
<ul>
    <li>Improve training processes and execution</li>
    <li>Ensure learners are challenged but not overwhelmed</li>
    <li>Quickly capitalize on their own teachable moments</li>
</ul>





